<!DOCTYPE html>
<html>
  <head>
    <title>User Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button value="login" name="login">Login</button>
    </form> 
    <h2>This is Home Page</h2>

    <li><a href="/register">Sign Up !!</a></li>
    <li><a href="/forgot">Forget password</a></li>
  </body>
</html>
