<!DOCTYPE html>
<html>
  <head>
    <title>User Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New password</h1>
    <form action="/update" method="post">
        <h1>Create New password..!</h1>
        <table>
            <tr>
                <td><input type="password" placeholder="Create New Password" name="Create" /></td>
            </tr>
            <tr>
                <td><input type="password" placeholder="Confirm New Password" name="Confirm" /></td>
            </tr>
            <tr>
                <td><button value="submit" name="submit">Submit</button></td>
            </tr>
        </table>
    </form> 
    
  </body>
</html>