<!DOCTYPE html>
<html>
  <head>
    <title>User Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/otp" method="post">
      <h1>Please Enter Otp To Send In Your Mail </h1>
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="enter otp" name="txtotp">
                </td>
            </tr>
            <tr>
                <td>
                    <button name="submit" value="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form> 
    
  </body>
</html>