<!DOCTYPE html>
<html>
  <head>
    <title>User Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign up Form</h1>
    <form action="/register" method="post">
        <div>
          <input type="text" name="name" placeholder="username">
        </div>
        <div>
            <input type="text" name="email" placeholder="useremail">
        </div>
        <div>
          <input type="password" name="password" placeholder="password">
        </div>
            <button name="register" value="submit">Submit</button>
    </form>
    <h2>This is Register Page...</h2>

    <li><a href="/login">Login</a></li>
  </body>
</html>